@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.4rem;
}

.debug{
    white-space: break-spaces;
}

.player-article {
    font-size: 1rem;

    background-color: lightgray;
    margin-block: 0.2rem;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: 5fr 1fr;

    /*button {*/
    /*    font-size: 1rem;*/
    /*}*/
}

.top-bar {
}

.player-main {
    margin: auto;
    width: 90vw;

    display: grid;
    grid-template-rows: 12rem 1fr;

    max-height: 95vh;
}

.host-main {
    margin: auto;
    width: 90vw;

    display: grid;
    grid-template-rows: 9rem 1fr;

    max-height: 95vh;
}

.player-items {
    overflow-y: auto;
}

.player-body {
    margin: 10px;
}

.player-input-search {
    min-width: 50vw;
    min-height: 2rem;
}

.player-input-div {

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.player-search-row-div {

    /*padding: 0.3rem;*/
    /*margin: 0.3rem;*/
}

.player-article-toggle {

    padding: 0.3rem;
    margin: 0.3rem;
}
#only-selected-toggle {

    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.3rem;
}

.the-end {
    margin-block: 0.2rem;
}

button{
    padding: 0.2rem;
}

#emergency-controls {
    margin-block: 2rem;
    font-size: 0.8rem;
}

.input-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    margin-block: 0.5rem;
    padding: 0.5rem;
}

.host-eval-radio {
    /*display: grid;*/
    /*!*grid-template-columns: 1fr 1fr;*!*/
}


.host-article {
    font-size: 1rem;

    background-color: lightgray;
    margin-block: 0.2rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;

    display: grid;
    grid-template-columns: 1fr 4fr 2fr;

}

.host-article-2 {
    font-size: 1rem;

    background-color: lightgray;
    margin-block: 0.2rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;

    display: grid;
    grid-template-columns: 1fr;

}



.item_undeclared {
    background-color: lightgray;
    border-color: #000000;
    border-style: solid;
    border-width: 0;
}

.item_right{
    background-color: #b0ff8e;
    border-color: #127700;
    border-style: solid;
    border-width: 2px;
}

.item_conditional {
    background-color: #c8eab8;
    border-color: #b0ff8e;
    border-style: dashed;
    border-width: 2px;
}

.item_optional {
    background-color: #ffbd8e;
    border-color: #773f00;
    border-style: solid;
    border-width: 2px;
}

.item_wrong {
    background-color: #ff8e8e;
    border-color: #770000;
    border-style: solid;
    border-width: 2px;
}

.lobby-test {

    display: grid;
    grid-template-columns: 1fr 1fr;
}