@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.4rem;
}

.debug{
    white-space: break-spaces;
}

.player-article {
    font-size: 1rem;

    background-color: lightgray;
    margin-block: 0.2rem;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: 5fr 1fr;

    /*button {*/
    /*    font-size: 1rem;*/
    /*}*/
}

.top-bar {
}

.player-main {
    margin: auto;
    width: min-content;

    display: grid;
    grid-template-rows: 10rem 1fr;

    max-height: 70vh;
}

.player-items {
    overflow-y: auto;
}

.player-body {
    margin: 10px;
}

.player-input-search {
    min-width: 50vw;
    min-height: 2rem;
}

.player-input-div {

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.player-search-row-div {

    padding: 0.3rem;
    margin: 0.3rem;
}

.player-article-toggle {

    padding: 0.3rem;
    margin: 0.3rem;
}
#only-selected-toggle {

    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.3rem;
}

.the-end {
    margin-block: 0.2rem;
}

button{
    padding: 0.2rem;
}